<a href="https://colab.research.google.com/github/Vasanth03-s/ML-projects/blob/main/Placement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('PD.csv')

In [ ]:
data.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [11]:
lb=LabelEncoder()
lb1=lb.fit_transform(data.gender)
lb2=lb.fit_transform(data.ssc_b)
lb3=lb.fit_transform(data.hsc_p)
lb4=lb.fit_transform(data.hsc_s)
lb5=lb.fit_transform(data.degree_p)
lb6=lb.fit_transform(data.degree_t)
lb7=lb.fit_transform(data.workex)
lb8=lb.fit_transform(data.status)

In [13]:
data['gender']=lb1
data['ssc_b']=lb2
data['hsc_p']=lb3
data['hsc_s']=lb4
data['degree_p']=lb5
data['degree_t']=lb6
data['workex']=lb7
data['status']=lb8

In [39]:
data=data.drop('hsc_b',axis=1)

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sl_no     215 non-null    int64
 1   gender    215 non-null    int64
 2   ssc_p     215 non-null    float64
 3   ssc_b     215 non-null    int64
 4   hsc_p     215 non-null    int64
 5   hsc_s     215 non-null    int64
 6   degree_p  215 non-null    int64
 7   degree_t  215 non-null    int64
 8   workex    215 non-null    int64
 9   etest_p   215 non-null    float64
 10  mba_p     215 non-null    float64
 11  status    215 non-null    int64
 12  salary    215 non-null    float64
dtypes: float64(4), int64(9)
memory usage: 22.0 KB

In [42]:
X=data.drop('status',axis=1)
y=data['status']

In [43]:
print(y)

0      1
1      1
2      1
3      0
4      1
      ..
210    1
211    1
212    1
213    1
214    0
Name: status, Length: 215, dtype: int64

In [44]:
print(X.isnull().sum())

sl_no       0
gender      0
ssc_p       0
ssc_b       0
hsc_p       0
hsc_s       0
degree_p    0
degree_t    0
workex      0
etest_p     0
mba_p       0
salary      0
dtype: int64

In [45]:
X['salary'].fillna(X['salary'].mean(),inplace=True)

In [46]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [47]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [48]:
scaler=StandardScaler()
scaler.fit(X_train)
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [49]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [50]:
rfc=RandomForestClassifier(n_estimators=100,random_state=42)
rfc.fit(X_train,y_train)
ypred=rfc.predict(X_test)

In [52]:
acu=accuracy_score(y_test,ypred)
print(f'accuracy:%.2f'%(acu*100))

accuracy:90.70